{% extends 'base.html' %} {% block body %}
<div
  class="container align-items-center justify-content-center"
  style="min-height: 90vh"
>
    <div class="container my-5 p-3 text-center border align-items-center justify-content-center" style="width: 40rem; height: 30rem;">
        <div class="container">
        <h1>Login</h1>
        <form action="/login" method="post">
          {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </div>
    </div>
</div>
{% endblock body %}
